extends ../layouts/layout

block content
  +page-wrapper('homepage__page')
    .user__wrapper
      form.user__box
        .user__box-inner.login.is-active(hidden)
          .user__title Войти
          .user__label Адрес электронной почты
          input.user__input(type="text")
          .user__label Пароль
          input.user__input(type="password")

        .user__box-inner.registration(hidden)
          .user__title Регистрация
          .user__label Ваше имя
          input.user__input(type="text" placeholder="")
          .user__label Номер телефона
          input.user__input(type="text" placeholder="+7(900)000-00-00")
          .user__label Адрес электронной почты
          input.user__input(type="text")
          .user__label Пароль
          input.user__input(type="password")

        button.btn.js-logged(type="button") Продолжить
        button.btn.btn-link.js-registration.is-active(type="button") Создать учетную запись
        button.btn.btn-link.js-login(type="button") У меня есть аккаунт
    .homepage__header
      .container
        .homepage__header-top
          if customer
            - var client_name = customer.first_name
          else
            - var client_name = 'уважаемый клиент'
          .homepage__welcome Добрый день, #{client_name}
          .request(hidden)           
            button.request__btn.js-request(type="button")
              img.request__icon(src='../img/plus.svg' alt="")
              | Записаться на сервис
            .request__confirmed
              img.request__icon(src='../img/check.svg' alt="")
              div
                .request__title Мы приняли вашу заявку, #[br]#{customer.first_name}!
                .request__text Наш менеджер свяжется с&nbsp;вами по&nbsp;телефону +7(957)1234567
              button.request__close(type="button")
                img(src='../img/close.svg' alt="")
          .toolbar(hidden)
            button.toolbar__toggle(type="button")
              img.img(src='../img/bar.svg' alt="")
            ul.toolbar__menu
              li.toolbar__item
                a.toolbar__link.js-request(href="#")
                  img.toolbar__link-icon(src='../img/phone.svg' alt="")
                  span.toolbar__link-text Заказать звонок
              li.toolbar__item
                a.toolbar__link.js-logout(href="#")
                  img.toolbar__link-icon(src='../img/logout.svg' alt="")
                  span.toolbar__link-text.red Выйти из аккаунта
    .homepage__content
      .container
        - var activeState = 'active'
        - var finishedState = 'finished'
        .homepage__top
          .homepage__filter
            button.homepage__filter-btn.is-active(type="button" data-order-state=activeState) Активные
            button.homepage__filter-btn(type="button" data-order-state=finishedState) Завершенные
          .homepage__alert(hidden)
            .homepage__alert-icon !
            | По техническим причинам, работы приостановлены
        .order__list(id=activeState)
          +order-list(activeState)
        .order__list(id=finishedState hidden)
          +order-list(finishedState)               

        a.order__promo(href="promo.html") 20% скидка #[br]на малярные работы #[br]в феврале
block footer

