extends ../layouts/layout

block content
  +page-wrapper('homepage__page')
    .user__wrapper //.is-open
      form.user__box
        .user__box-inner.login.is-active
          .user__title Войти
          .user__label Код из смс
          input.user__input(type="text" placeholder="123456")

        .user__box-inner.privacy
          .user__subtitle Для продолжения необходимо принять условия использования
          .user__checkbox
            input#agree1(type="checkbox" checked hidden)
            label(for="agree1") #[a(href="#" target="_blank") Согласие на обработку персональных данных], «Ставя отметку я подтверждаю, что даю свое согласие на сбор, передачу и обработку моих персональных данных в соответствие с Федеральным законом "О персональных данных" от 27.07.2006 N 152-ФЗ».
          .user__checkbox
            input#agree2(type="checkbox" checked hidden)
            label(for="agree2") «Ставя отметку я подтверждаю, что ознакомлен и согласен: #[br]#[a(href="#" target="_blank") с правилами работы];  #[br]#[a(href="#" target="_blank") с использованием файлов cookies];  #[br]#[a(href="#" target="_blank") с порядком изменения заказ-наряда];  #[br]#[a(href="#" target="_blank") с правилами отплаты​»].

        button.btn.js-login(type="button") Продолжить
        button.btn.btn-link.js-send-code.is-active(type="button") Получить код
    .homepage__header
      .container
        .homepage__header-top
          if customer
            - var client_name = customer.first_name
          else
            - var client_name = 'уважаемый клиент'
          .homepage__welcome Добрый день, #{client_name}
          .request(style='display: none')           
            button.request__btn.js-request(type="button")
              img.request__icon(src=_yii.app.urlHelper.to('@web/img/plus.svg') alt="")
              | Записаться на сервис
            .request__confirmed
              img.request__icon(src=_yii.app.urlHelper.to('@web/img/check.svg') alt="")
              div
                .request__title Мы приняли вашу заявку, #[br]#{customer.first_name}!
                .request__text Наш менеджер свяжется с&nbsp;вами по&nbsp;телефону +7(957)1234567
              button.request__close(type="button")
                img(src=_yii.app.urlHelper.to('@web/img/close.svg') alt="")
          .toolbar(style='display: none')
            button.toolbar__toggle(type="button")
              img.img(src=_yii.app.urlHelper.to('@web/img/bar.svg') alt="")
            ul.toolbar__menu
              li.toolbar__item
                a.toolbar__link.js-request(href="#")
                  img.toolbar__link-icon(src=_yii.app.urlHelper.to('@web/img/phone.svg') alt="")
                  span.toolbar__link-text Заказать звонок
              li.toolbar__item
                a.toolbar__link.js-logout(href="#")
                  img.toolbar__link-icon(src=_yii.app.urlHelper.to('@web/img/logout.svg') alt="")
                  span.toolbar__link-text.red Выйти из аккаунта
    .homepage__content
      .container        
        -
          var orderFilters = [
            {id: 'active', alias: 'Активные', default: true},
            {id: 'finished', alias: 'Завершенные', default: false}
          ]
        .homepage__top
          .homepage__filter
            each filter in orderFilters
              button.homepage__filter-btn(class=filter.default ? 'is-active' : '' type="button" data-order-state=filter.id) #{filter.alias}
          .homepage__alert(style='display: none')
            .homepage__alert-icon !
            | По техническим причинам, работы приостановлены
        +warning()      
        each filter in orderFilters
          .order__list(id=filter.id style= filter.default ? '' : 'display: none')
            +order-list(filter.id)             

        a.order__promo(href="#" style='display: none') 20% скидка #[br]на малярные работы #[br]в феврале
block footer

