extends ../layouts/layout

block content
  +page-wrapper('order__page')
  - var vehicle = order.vehicle;
  - var customer = order.customer;
  - var staff = order.staff;
  - var staffInfo = order.staffInfo;
    .order__header
      .container
        a.back-link(href=_yii.app.urlHelper.to({0: '@orders', 'customer': customer.uid}))
          +icon('back')
        .order__header-top
          .order__title #{vehicle.model}
          a.order__status(href=_yii.app.urlHelper.to({0: '@statusHistory', 'customer': customer.uid, 'order': order.uid})) #{order.actualStatus}
        .order__header-bottom
          .order__address
            svg(viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg")
              path( d="M1.09091 3.98779C1.89091 0.527792 7.13091 0.527792 7.93091 3.98779C8.40091 6.01779 7.11091 7.73779 5.98091 8.80779C4.90079 9.88791 4.021 9.7878 3.201 9.0178C2.071 7.9478 0.62091 6.01779 1.09091 3.98779Z" stroke="#0B132B" stroke-width="1.5")
              path( d="M4.50721 4.88791H4.51877" stroke="#0B132B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            | #{order.dealer.name}
          .order__number #{vehicle.registration_number}
    .order__content
      .container
        .order__top
          .order__top-mobile
            .order__line #{order.getAttributeLabel('repair_kind')}: #[span #{order.repair_kind}]
            .order__line #{order.getAttributeLabel('issuance_date')}: #[span #{order.IssuanceDate}]

          .order__video(hidden)
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7QPqa7gNeIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .order__video-label Прямой эфир

          .order__top-pc
            .order__line #{order.getAttributeLabel('repair_kind')}: #[span #{order.repair_kind}]
            .order__line #{order.getAttributeLabel('issuance_date')}: #[span #{order.IssuanceDate}]

          .order__master
            img.order__master-avatar(src=staff.photo)
            div
              .order__master-name #{staff.name}
              .order__master-position #{staffInfo.position}
          ul.order__links
            li
              a.order__link(href=_yii.app.urlHelper.to({0: '@orderTable', 'customer': customer.uid, 'order': order.uid, 'component': 'works'})) Работы
            li  
              a.order__link(href=_yii.app.urlHelper.to({0: '@orderTable', 'customer': customer.uid, 'order': order.uid, 'component': 'goods'})) Товары
            li
              a.order__link(href=_yii.app.urlHelper.to({0: '@orderTable', 'customer': customer.uid, 'order': order.uid, 'component': 'recommendations'})) Рекомендации
        hr
        .order__info
          .order__info-col
            .order__line #{order.getAttributeLabel('number')}: #[span #{order.number}]
            .order__line #{vehicle.getAttributeLabel('vin')}: #[span #{vehicle.vin}]
            .order__line #{order.getAttributeLabel('works_cost')}: #[span #{_yii.app.formatter.asCurrency(order.works_cost)}]
            .order__line #{order.getAttributeLabel('goods_cost')}: #[span #{_yii.app.formatter.asCurrency(order.goods_cost)}]
          .order__info-col
            .order__line #{order.getAttributeLabel('net_price')}: #[span #{_yii.app.formatter.asCurrency(order.net_price)}]
            .order__line #{order.getAttributeLabel('discount')}: #[span #{_yii.app.formatter.asCurrency(order.discount)}]
            ul.order__links
              li
                a.order__link(href=_yii.app.urlHelper.to({0: '@documents', 'customer': customer.uid, 'order': order.uid})) Документы
        hr
        .order__sum
          .order__line #{order.getAttributeLabel('amount_payable')}: #[span #{_yii.app.formatter.asCurrency(order.amountPayable)}]
          a.btn(href=_yii.app.urlHelper.to({0: '@payments', 'customer': customer.uid, 'order': order.uid})) Оплатить

block footer
