extends ../layouts/layout

block content
  +page-wrapper('status__page')
    .status__header
      .container
        a.back-link(href=_yii.app.urlHelper.to({0: '@orderItem', 'customer': order.customer.uid, 'order': order.uid}))
          +icon('back')
        .status__header-top
          .status__title История статусов
          .status__status #{order.actualStatus}
    .status__content
      .container
        unless status_history
          .status__status История статусов отсутствует
        else
          - var dateByDefault = '3999-11-30 00:00:00.000'
          - var isFirstFinishedStatusFound = false         
          .status__story
            each statusItem in status_history
              if !isFirstFinishedStatusFound & statusItem.date == dateByDefault
                - var date = 'Нет данных'
              else if statusItem.is_finished & statusItem.date == dateByDefault & !!order.issuance_date
                - var date = order.IssuanceDate
              else if isFirstFinishedStatusFound & statusItem.date == dateByDefault
                - var date = '-'                            
              else
                - var date = _yii.app.formatter.asDateTime(statusItem.date)

              if !isFirstFinishedStatusFound & statusItem.date != dateByDefault
                - isFirstFinishedStatusFound = true

              - var statusText = `${statusItem.alias}: <span>${date}</span>`
              if statusItem.date !== dateByDefault | statusItem.is_actual
                .status__story-item.is-finished !{statusText}
              else
                .status__story-item !{statusText}

block footer
