extends ../layouts/layout

block content
  +page-wrapper('docs__page') 
    .docs__header
      .container
        h3 Для продолжения работы требуется Ваше согласие
    .container
      form(action=_yii.app.urlHelper.to({0: "agreement/signing"}) method="post")
        input(type="hidden", name=_yii.app.request.csrfParam value=_yii.app.request.csrfToken)
        ul.order__links               
          each agreement in agreements
            li
              .form-check
                input.form-check-input(type="checkbox" name='agreements[]' value=agreement.uid checked)
                a.order__link(href=agreement.file_path target="_blank")= agreement.alias
        .order__sum
          button.btn(type="submit") Согласен

block modal
  +long-operation-modal('Пожалуйста подождите. Получаем документ...')
block footer
